.container{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f2;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height:40px;
    align-items: center;
    padding:0px 20px 0px 20px;
}
.mail{
    text-decoration: none;
    color: #0c1014;
}
.details , span ,p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:9px;
    font-size: 13px;
    color: #0c1014;
}
 .icons{
    display: flex;
    justify-content: space-between;
    padding:20px;
    gap: 15px;
 }
.icons a{
    text-decoration: none;
    color: #0c1014;
}
.icons a:hover{
    color:  #C7A86A;
}

 @media (max-width: 639px){
    .container{
        display: flex;
        justify-content:end;
        padding: 0px;
        align-items: center;
    }
    .details{
        display: none;
    }
 }